* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: fixed;
    /* justify-content: space-between; */
}

.dropbtn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
    width: 200px;
    height: 100vh;
    /* background-color: gray; */
    position: fixed;
    top: 60px;
    left: 0;
    padding: 20px;
    overflow-y: auto;
}
.sidebar li {
    background-color: gray;
}

.content {
    margin-left: 200px;
    padding: 20px;
    /* 余下的样式根据实际内容调整 */
}